<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io</title>
</head>
<body>
    <h1>Chat</h1>
    <div id="chat">

    </div>
    <input type="text" name="" id="msg"><br>
    <input type="text" name="" id="username" placeholder="Username...">
    <button>Enviar mensagem</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
    var socket=io("http://localhost:3000");

    socket.on("disconnect",() =>{
        console.log("Disconnected");
    });


</script>
</html>